* {
  /* border:1px solid teal; */
  background-color: ghostwhite;
}
body{
  margin:0;
}
/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */
/*page stuff*/
.pageWrapper {
  max-width:1100px;
  margin: 0 auto;
  font-family: 'Cormorant Unicase', serif;
}
h1,h2,h3 {
  /* padding:12px; */
  background-color: inherit;
  line-height: normal;
  text-align: center;
  font-family: 'Cormorant Unicase', serif;
}
img{
  position:relative;
}

/* search / submit*/
.searchContainer {
  position: sticky;
  width:100%;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  padding:10px;
  border:3px solid teal;
  /* border-radius: 20px; */
  margin-bottom: 10px;
  background-color: teal;

}
.mainInput {
  width:60%;
  height:1.3em;
  font-size: 1.3em;
}
.input {
  /* background-color: steelblue;
  color: ghostwhite; */
  margin:2px;
}
#submit {
  width:8%;
  padding:5px;
  vertical-align: middle;
  border:1px solid teal;
  border-radius: 10px;
  background-color: mediumaquamarine;
}
.advancedSearch {
  display:none;
  background-color: transparent;
}
nav{
  width:100%;
  margin:0;


}
ul{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  background-color: teal;
  margin-bottom:0;

}
li {
  color:ghostwhite;
  list-style: none;
  background-color: inherit;
  padding:20px;
  margin-bottom: 0;
}
form{
  background: transparent;
  margin:0 auto;
}
span {
  background: transparent;
}
div{
  font-weight: lighter;
}


/*New div and book images*/
.resultsContainer {
  /* position:relative; */
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.showHide {
  display: none;
}


.bookshelf{
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  position: sticky;
  top:0;

  overflow: auto;
  padding:20px ;
  box-shadow: 0 2px 2px rgba(0,0,0,.7);
  max-height: 40vh;
  width: 90%;
  /* border:4px solid teal; */
  border-radius: 10px;
  /* z-index:3; */
}

.book {
  flex: 1 1 150px;
  position:relative;
  margin:0 10px;
  padding:0 11px 26px ;
  max-width:132px;
  background-color: transparent;
  /* border:1px solid brown; */
  /* z-index:1; */

}

.newBooks{
  margin:20px auto ;
  display: flex;
  flex-grow: 1;
  /* flex-direction: row; */
  flex-flow: row wrap;
  /* overflow: auto; */
  padding:20px;
  /* border:4px solid teal; */

}


/*modal descriptor*/
.modal {
	display: block;
	background-color: rgba(0,0,0,.6);
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:3;
	overflow: auto;
}

.modal-box {
  background-color: ghostwhite;
  width:50vw;
  position: relative;
  border:2px solid teal;
	border-radius: 20px;
	margin:20% auto;
	padding:2%;
	line-height: 120%;
	box-shadow:0 2px 2px rgba(0,0,0,0.2);
	/* font-family: 'Arial'; */
}
.big-modal {
  display: block;
  background-color: rgba(0,0,0,.7);
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:3;
}
.fight-modal {
  background-color: ghostwhite;
  margin:5% auto;
  width:90%;
  height:90%;

}
.fighter-div {
  width:12%;
  height:12%;
}

/*buttons*/
.cornerButton {
  border-radius: 10px;
  margin:3px 3px;
  background-color: mediumaquamarine;
  color:ghostwhite;
  position:absolute;
  top:0;
  right:20;
}

.favorite{
  border-radius: 10px;
  /* margin:0; */
  display:none;
  background-image:url(../images/black-star-icon-isolated-object-260nw-715403857.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: teal;
  width:21px;
  height:22px;
  /* z-index: 2; */
  /* position:absolute;
  top:0;
  right:20; */
}

footer{
  background-color: teal;
  position: fixed;
}
.cornerButton:hover{
  background-color: steelblue;
}


li:hover{
  border-bottom: 2px solid ghostwhite;

}

.light{
  background-color:thistle;
}

/*************************
animation
*************************/
li: {
  transform: rotate(360);
}

.spinAround {
  animation-name:winner-lap;
  animation-duration: 5s;
  animation-iteration-count: 3;
  animation-timing-function: linear
}


@keyframes winner-lap {
  0% {transform: scale(.5); transform:translate(200px);}
  20%{transform:translate(500px)}
90% {transform: scale(1.1)}
100% {transform: scale(1)}
}
