* {
  border:1px solid teal;
  background-color: ghostwhite;
}

.pageWrapper {
  max-width:1100px;
  margin: 0 auto;
}
.searchContainer {
  padding:30px;
  border-radius: 20px;
  margin-bottom: 10px;

}
.mainInput {
  width:90%;
  height:1.3em;
  font-size: 1.3em;
}
.input {
  background-color: steelblue;
  color: ghostwhite;
}
#submit {

  width:8%;
  padding:5px;
}
/* .advancedSearch{
  display:none;
} */
.resultsContainer {

}
.newBooks{
  marign:10px auto;
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding:20px;
  /* border:4px solid teal; */

}
.book {
  flex-grow: 1;
  margin:0 5px;
  padding:26px;
  border:1px solid brown;
  z-index:2;

}

.bookshelf{
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  overflow:auto;
  padding:20px;
  /* height:20px; */

}
